@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,600;0,800;1,200;1,400&display=swap');



:root {
  font-family: 'Montserrat', sans-serif;
  --color-primary: rgb(238, 238, 238);
  --color-secondary:rgb(57, 62, 70)

}

*{
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;

}

body {

  background-color: var(--color-primary);
}


li {
  list-style-type: none;
  }
  a {
  text-decoration: none;
  color: inherit;
  }
  html {
  scroll-behavior: smooth;
  }



  main{
    height: 100%;
  }
