.header{
    display: flex;
    height: 10vh;
    align-items: center;
    gap: 4rem;
    padding: 0 2rem;
    
   
}

.header-nav{
    display: flex;
    width: 100;
}

.label-hamburger{
    display: none;
}

#hamburger{
    display: none;
}


.logo {
    width: 50px;
    height: 50px;

}

.menu {
    width: 3rem;
}


.navbar{
    align-items: center;
    display: flex;
    gap: 4rem;
    justify-content: center;

}

.nav-list{
    display: flex;
    gap:1.5rem;

}