.container {
    padding: 0 1rem; /* Reducir el padding lateral en dispositivos más pequeños */
    min-height: 80vh;
    padding-bottom: 2rem; /* Reducir el espacio inferior */
    display: flex;
    flex-direction: column;
    gap: 3rem; /* Reducir el espacio entre los elementos */
    margin-bottom: 1rem; /* Reducir el margen inferior */
  }
  
  .experience-container {
    display: flex;
    flex-wrap: wrap;
    
    gap: 3rem;
  }
  
  .title {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 1.5rem; /* Reducir el tamaño del título */
    text-align: center;
  }

  .experienceFigure{
    width: 100%;
  }




  
  /* Media query para pantallas más grandes */
  @media screen and (min-width: 768px) {
    .container {
      padding: 0 4rem; /* Aumentar el padding lateral */
      gap: 4rem; /* Aumentar el espacio entre los elementos */
    }
  
    .experience-container {
    
      gap: 4rem;
    }
  
    .title {
      font-size: 2rem; /* Volver al tamaño original del título */
    }
  }


